table,td{
border: 5px solid black;
border-collapse: collapse;
text-align: center;
}
html,body{
    padding: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
table tr:nth-child(odd){
    background-color:rgb(226, 173, 0);
}

table tr:nth-child(2) td:nth-child(3),
table tr:nth-child(3) td:nth-child(3),
table tr:nth-child(2) td:nth-child(5),
table tr:nth-child(3) td:nth-child(5),
table tr:nth-child(2) td:nth-child(6),
table tr:nth-child(3) td:nth-child(6){
    background-color: rgb(236, 55, 70);
}

.corpo {
    background-color: rgb(117, 119, 238);
}
.tabela{
    background-color: rgb(229, 255, 0);
}
.legenda {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}




