body{
background-color: #333;

}
h1{

  color: #fff;
}

.txt-azul{

  color: #4242f4;
  font-size: 18px;
  font-weight: bold; /*negrito*/
}

.dir{

  float: rigtht;
  margin: 15px;
}
.clear{

  clear: both;
}
