table,td{
border: 5px solid black;
border-collapse: collapse;
text-align: center;
}
html,body{

    padding: 10px;
}
table tr:nth-child(odd){
    background-color:#ccc;
}

table tr:nth-child(2) td:nth-child(3),
table tr:nth-child(3) td:nth-child(3),
table tr:nth-child(2) td:nth-child(5),
table tr:nth-child(3) td:nth-child(5),
table tr:nth-child(2) td:nth-child(6),
table tr:nth-child(3) td:nth-child(6){
    background-color: blue;
}





